[Unit]
Description=PR01 Cloud
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/env bash /home/ubuntu/runEventsApp.sh

[Install]
WantedBy=multi-user.target